.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  border-radius: 8px;
  border: 2px solid rgb(255, 125, 233);
  max-height: 320px;
  color: white;
  padding: 16px;
  margin: 100px auto 0;

  label {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 8px;
    
    p {
      margin: 8px;
    }

    input{
      border-radius: 6px;
      border: 1px solid rgb(255, 125, 233);
      background-color: rgba(0, 0, 0, 0.2);
      height: 28px;
      padding: 8px;
      box-sizing: border-box;
      color: white;

    }
  }

  .submit {
    align-self: end;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 60px;
    padding: 4px;
    box-sizing: border-box;
    font-weight: bold;
    background-color: rgba(255, 125, 233, 0.8);
    margin-top: 16px ;
  }
}

.display {
  width: 100%;
  text-align: center;
  color: white;

  ul {
    max-width: fit-content;
    margin: auto;
    text-align: left;
  }

  .route {
    color: white;
    font-weight: bold;

    &-active {
      @extend .route;
      color: rgb(255, 125, 233);
    }
  }
}
