.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: fit-content;
  margin: auto;
  
  .image {
    max-width: 300px;
    max-height: 300px;
    animation: upAndDown 2.5s infinite linear;
  }

  .greeting {
    color: white;
    font-size: 40px;
    text-align: center;
  }
}

@keyframes upAndDown {
  0% {transform: translateY(0);}
  10% {transform: translateY(-10px);}
  20% {transform: translateY(-20px);}
  30% {transform: translateY(-10px);}
  40% {transform: translateY(0);}
  50% {transform: translateY(10px);}
  60% {transform: translateY(0);}
  70% {transform: translateY(-10px);}
  80% {transform: translateY(-20px);}
  90% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}


