.table {
  border: 2px solid rgba(255, 125, 233, 0.5);
  border-radius: 8px;
  max-width: fit-content;
  margin: 100px auto;
  align-self: flex-start;
  color: white;

  thead {
    background-color: rgba(0, 0, 0, 0.2);

    th {
      padding: 8px;
    }
  }

  tbody {
    tr{
      &:nth-child(odd) {
        background-color: rgba(255, 125, 233, 0.5);
      }

      &:nth-child(even) {
        background-color: rgba(86, 7, 105, 0.5);
      }

      td {
        padding: 8px;
        &:nth-child(odd) {
          text-align: left
        }

        &:nth-child(even) {
          text-align: center
        }
      }
    }
  }

}